<div class="pt-4 pb-14 max-w-xl mx-auto">
    <h1 class="text-3xl md:text-6xl font-bold text-center mt-14 mb-20">
        RM1,0000.00
    </h1>

    <h3 class="text-lg font-semibold text-emerald-500 mb-2">
        Latest
    </h3>
    <div
        class="p-6 max-w-full mx-auto bg-gray-800 mb-4
        shadow-xl rounded-xl flex items-center space-x-4">
        <div class="shrink-0">
            <img class="h-12 w-12"
                src="assets/img/avatars/man-gray-500.png">
        </div>
        
        <div>
            <div class="text-lg font-medium text-gray-200">Amin</div>
            <p class="text-gray-500 line-clamp-1">You have a new messageq wkehq kwjhekjqwhe kjhqwkjhekqjwhekjq hwlk ehqweoljhqw lkjehqwlkjhelq wkjhelqkh qkjwhekjqw hekljqwhekl hqwekhqw;keh qweh qwkhe qkwheqwjhekq!</p>
        </div>
        <div class="shrink-0 w-32 text-end">
            <h3 class="text-xl font-semibold text-emerald-500">
                RM300.00
            </h3>

            <span class="text-gray-800 text-xs font-medium inline-flex items-end dark:text-gray-500">
                <i class="fa-regular fa-clock mr-2 my-auto"></i>
                3 days ago
            </span>
        </div>
    </div>

    <div
        class="p-6 max-w-full mx-auto bg-gray-800 mb-4
        shadow-xl rounded-xl flex items-center space-x-4">
        <div class="shrink-0">
            <img class="h-12 w-12"
                src="assets/img/avatars/woman-gray-500.png">
        </div>
        
        <div>
            <div class="text-lg font-medium text-gray-200">Ali</div>
            <p class="text-gray-500 line-clamp-1">You have a new messageq wkehq kwjhekjqwhe kjhqwkjhekqjwhekjq hwlk ehqweoljhqw lkjehqwlkjhelq wkjhelqkh qkjwhekjqw hekljqwhekl hqwekhqw;keh qweh qwkhe qkwheqwjhekq!</p>
        </div>

        <div class="shrink-0 w-32 text-end overflow-hidden">
            <h3 class="text-xl font-semibold text-emerald-500 text-ellipsis">
                RM99999.00
            </h3>

            <span class="text-gray-800 text-xs font-medium inline-flex items-end dark:text-gray-500">
                <i class="fa-regular fa-clock mr-2 my-auto"></i>
                3 days ago
            </span>
        </div>
    </div>

    <div
        class="p-6 max-w-full mx-auto bg-gray-800 mb-4
        shadow-xl rounded-xl flex items-center space-x-4">
        <div class="shrink-0">
            <img class="h-12 w-12"
                src="assets/img/avatars/astronaut-gray-500.png">
        </div>
        
        <div>
            <div class="text-lg font-medium text-gray-200">Ah Hock</div>
            <p class="text-gray-500 line-clamp-1">You have a new messageq wkehq kwjhekjqwhe kjhqwkjhekqjwhekjq hwlk ehqweoljhqw lkjehqwlkjhelq wkjhelqkh qkjwhekjqw hekljqwhekl hqwekhqw;keh qweh qwkhe qkwheqwjhekq!</p>
        </div>

        <div class="shrink-0 w-32 text-end overflow-hidden">
            <h3 class="text-xl font-semibold text-emerald-500 text-ellipsis">
                RM5860.50
            </h3>

            <span class="text-gray-800 text-xs font-medium inline-flex items-end dark:text-gray-500">
                <i class="fa-regular fa-clock mr-2 my-auto"></i>
                3 days ago
            </span>
        </div>
    </div>

    <div
        class="p-6 max-w-full mx-auto bg-gray-800 mb-4
        shadow-xl rounded-xl flex items-center space-x-4">
        <div class="shrink-0">
            <img class="h-12 w-12"
                src="assets/img/avatars/ninja-gray-500.png">
        </div>
        
        <div>
            <div class="text-lg font-medium text-gray-200">Muthu</div>
            <p class="text-gray-500 line-clamp-1">You have a new messageq wkehq kwjhekjqwhe kjhqwkjhekqjwhekjq hwlk ehqweoljhqw lkjehqwlkjhelq wkjhelqkh qkjwhekjqw hekljqwhekl hqwekhqw;keh qweh qwkhe qkwheqwjhekq!</p>
        </div>

        <div class="shrink-0 w-32 text-end overflow-hidden">
            <h3 class="text-xl font-semibold text-emerald-500 text-ellipsis">
                RM360.77
            </h3>

            <span class="text-gray-800 text-xs font-medium inline-flex items-end dark:text-gray-500">
                <i class="fa-regular fa-clock mr-2 my-auto"></i>
                3 days ago
            </span>
        </div>
    </div>
</div>