<div class="pt-4 pb-14 px-2 md:px-0 max-w-xl mx-auto">
    <section class="grid grid-cols-2 gap-4 mt-12 mb-3">
        <div
            class="p-4 text-start rounded-xl shadow-xl border bg-white
            dark:bg-neutral-800 border-neutral-100 dark:border-neutral-700">
            <h3 class="text-lg md:text-2xl font-bold mb-0">
                {{ totalLended | currency:curCode:curDisplay:curDigitsInfo }}
            </h3>
            <p class="text-xs dark:text-neutral-500">
                Lended pending
            </p>
        </div>

        <div
            class="p-4 text-start rounded-xl shadow-xl border bg-white
            dark:bg-neutral-800 border-neutral-100 dark:border-neutral-700">
            <h3 class="text-lg md:text-2xl font-bold">
                {{ totalBorrowed | currency:curCode:curDisplay:curDigitsInfo }}
            </h3>
            <p class="text-xs dark:text-neutral-500">
                Borrowed pending
            </p>
        </div>
    </section>

    <section>
        <h3 class="text-lg font-semibold text-emerald-500 mb-3">
            Entries
        </h3>

        <app-debt-card
            [debts]="debts"
            (toggle)="onToggleDebt($event)"
            (view)="onViewDebt($event)"
            (delete)="onDeleteDebt($event)">
        </app-debt-card>

        <ng-container *ngIf="debts.length === 0">
            <div class="w-full flex">
                <img
                    class="m-auto w-36"
                    src="assets/img/icons/ufo-neutral-500.png" />
            </div>
            <p class="text-sm text-center dark:text-neutral-500">No entry found</p>
        </ng-container>
    </section>
</div>