<div
    class="w-full relative"
    (clickOutside)="onBlurInput($event)">
    <div
        class="flex group focus-within:outline relative
        rounded-lg border border-neutral-300 bg-neutral-200
        focus-within:outline-2 focus-within:!outline-emerald-500
        dark:bg-neutral-700 dark:border-neutral-600
        dark:focus-within:!outline-emerald-800
        dark:focus-within:!border-emerald-500
        transition-colors duration-200">
        <span
            class="inline-flex items-center px-2.5
            text-sm bg-neutral-50 text-neutral-900
            rounded-l-lg border-none outline-none
            dark:bg-neutral-700 dark:text-neutral-400">
            <i class="fa-solid fa-user-astronaut fa-lg ms-auto"></i>
        </span>
        <input
            type="text"
            class="block w-full p-2.5 pl-0 rounded-lg rounded-l-none text-sm
            border-none outline-none bg-neutral-50 text-neutral-900      
            dark:bg-neutral-700 dark:text-white
            dark:placeholder-neutral-400"
            [placeholder]="placeholderText"
            (focus)="onFocusInput($event)"
            [formControl]="humanForm"
            [ngClass]="{
                'rounded-none': isLoading,
                'rounded-lg rounded-l-none': !isLoading
            }">
        <span
            *ngIf="isLoading"
            class="inline-flex items-center px-2.5
            text-sm bg-neutral-50 text-neutral-900
            rounded-r-lg border-none outline-none
            dark:bg-neutral-700 dark:text-neutral-400">
            <i class="fa-solid fa-circle-notch fa-spin ms-auto"></i>
        </span>
    </div>

    <ng-container
        *ngIf="isFocused && isCanOpen">
        <div class="mt-2 text-sm shadow-lg absolute right-0 z-10 origin-top w-full">
            <ng-template
                ngFor
                let-human
                [ngForOf]="results">
                <button
                    class="p-2 text-start w-full first:rounded-t-lg last:rounded-b-lg
                    border border-t-0 first:border-t bg-white border-neutral-100 focus:border-t
                    hover:bg-neutral-100 focus:outline focus:outline-2 focus:outline-emerald-500
                    dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-neutral-700
                    dark:focus:outline-emerald-800 dark:focus:border-emerald-500
                    transition-colors duration-200"
                    (click)="onSelectHuman(human)">
                    <div class="font-medium px-2">
                        <i class="fa-regular fa-circle fa-xs mr-2"></i>
                        {{ human.name }}
                    </div>
                </button>
            </ng-template>

            <ng-container
                *ngIf="results.length > 0 &&
                !humanForm.errors &&
                humanForm.dirty">
                <button
                    class="p-2 text-start w-full first:rounded-t-lg last:rounded-b-lg
                    border border-t-0 first:border-t bg-white border-neutral-100 focus:border-t
                    hover:bg-neutral-100 focus:outline focus:outline-2 focus:outline-emerald-500
                    dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-neutral-700
                    dark:focus:outline-emerald-800 dark:focus:border-emerald-500
                    transition-colors duration-200"
                    (click)="onAddNew()">
                    <div class="font-medium px-2">
                        <i class="fa-solid fa-circle-info fa-xs mr-2"></i>
                        Or add
                        <span class="underline font-semibold">
                            {{ humanForm.value }}
                        </span>?
                    </div>
                </button>
            </ng-container>

            <ng-container
                *ngIf="results.length === 0 &&
                !humanForm.errors &&
                humanForm.dirty &&
                humanForm.value &&
                !isLoading">
                <button
                    class="p-2 text-start w-full first:rounded-t-lg last:rounded-b-lg
                    border border-t-0 first:border-t bg-white border-neutral-100 focus:border-t
                    hover:bg-neutral-100 focus:outline focus:outline-2 focus:outline-emerald-500
                    dark:bg-neutral-800 dark:border-neutral-700 dark:hover:bg-neutral-700
                    dark:focus:outline-emerald-800 dark:focus:border-emerald-500
                    transition-colors duration-200"
                    (click)="onAddNew()">
                    <div class="font-medium px-2">
                        <i class="fa-solid fa-circle-info fa-xs mr-2"></i>
                        Not in space. Add 
                        <span class="underline font-semibold">
                            {{ humanForm.value }}
                        </span>?
                    </div>
                </button>
            </ng-container>

            <ng-container *ngFor="let message of formMessages">
                <ng-template
                    [ngIf]="humanForm.hasError(message.type) &&
                    (humanForm.dirty ||
                    humanForm.touched)">
                    <button
                        disabled
                        class="p-2 text-start w-full first:rounded-t-lg last:rounded-b-lg
                        border border-t-0 first:border-t bg-white border-neutral-100 
                        dark:bg-neutral-800 dark:border-neutral-700 cursor-not-allowed">
                        <div class="font-medium px-2 text-red-500">
                            <i class="fa-solid fa-circle-exclamation fa-xs mr-2"></i>
                            Oops! {{ message.message }}
                        </div>
                    </button>
                </ng-template>
            </ng-container>
        </div>
    </ng-container>
</div>