<app-modal
    [title]="'Change your password'"
    [isShow]="isShow"
    [bodyTpl]="bodyTpl"
    (onToggle)="toggle()">
    <ng-template #bodyTpl>
        <div class="p-6">
            <form
                [formGroup]="form"
                class="mb-4 w-full">
                <div
                    class="flex group focus-within:outline
                    rounded-lg border border-neutral-300 bg-neutral-200
                    focus-within:outline-2 focus-within:!outline-emerald-500
                    dark:bg-neutral-800 dark:border-neutral-600
                    dark:focus-within:!outline-emerald-800
                    dark:focus-within:!border-emerald-500
                    transition-colors duration-100">
                    <span
                        class="inline-flex items-center px-2.5
                        text-sm bg-neutral-50 text-neutral-900
                        rounded-l-lg border-none outline-none
                        dark:bg-neutral-700 dark:text-neutral-400">
                        <i class="fa-solid fa-unlock-keyhole fa-lg ms-auto"></i>
                    </span>
                    <input
                        type="password"
                        class="block w-full p-2.5 pl-0 rounded-lg rounded-l-none text-sm
                        border-none outline-none bg-neutral-50 text-neutral-900      
                        dark:bg-neutral-700 dark:text-white
                        dark:placeholder-neutral-400"
                        placeholder="xxxxxxxxxxxxx"
                        formControlName="password"
                        (keyup.enter)="onSubmit()" />
                </div>
    
                <ng-template
                    [ngIf]="form.controls['password'].errors &&
                    (form.controls['password'].dirty ||
                    form.controls['password'].touched)">
                    <ng-container *ngFor="let message of formMsgs['password']">
                        <ng-template
                            [ngIf]="form.controls['password'].hasError(message.type) &&
                            (form.controls['password'].dirty ||
                            form.controls['password'].touched)">
                            <p class="mt-2 text-xs text-red-600 dark:text-red-500">
                                <span class="font-medium">Oops!</span>
                                {{ message.message }}
                            </p>
                        </ng-template>
                    </ng-container>
                </ng-template>
            </form>

            <div class="w-full flex justify-end">
                <button
                    type="button"
                    class="px-3 py-2 rounded-lg font-medium text-xs
                    border text-center text-white bg-emerald-700 hover:bg-emerald-800
                    focus:outline focus:outline-2 focus:outline-emerald-200
                    dark:bg-emerald-600 dark:hover:bg-emerald-700 focus:border-emerald-500
                    dark:focus:border-emerald-500 dark:border-emerald-600 
                    dark:focus:outline-emerald-800 disabled:cursor-not-allowed"
                    (click)="onSubmit()">
                    <span>
                        <i
                            *ngIf="isLoading; else changeText"
                            class="fa-solid fa-circle-notch fa-spin ms-auto">
                        </i>
                        <ng-template #changeText>
                            Change
                        </ng-template>
                    </span>
                </button>
            </div>
        </div>
    </ng-template>
</app-modal>