<div class="pt-4 pb-14 px-2 md:px-0 max-w-xl mx-auto">
    <div
        class="p-6 max-w-full mx-auto bg-white dark:bg-gray-800 mb-4 shadow-xl
        rounded-xl flex flex-row items-center">
        <div class="basis-8/12">
            <h3 class="text-3xl font-semibold text-emerald-500">
                <span *ngIf="createForm.value.amount; else amountPlaceholder">
                    {{
                        createForm.value.amount | currency:currCode:currDisplay:currDigitsInfo
                    }}
                </span>
                <ng-template #amountPlaceholder>
                    <span>
                        RM--
                    </span>
                </ng-template>
            </h3>

            <p class="text-gray-400 dark:text-gray-500 text-sm line-clamp-1 mb-2">
                <span *ngIf="createForm.value.notes; else notesPlaceholder">
                    {{ createForm.value.notes }}
                </span>
                <ng-template #notesPlaceholder>
                    <span>
                        For unknown reasons
                    </span>
                </ng-template>
            </p>

            <span
                class="bg-gray-100 text-gray-800 text-xs
                font-semibold mr-2 px-2.5 py-0.5 rounded
                dark:bg-gray-700 dark:text-gray-300
                transition duration-100">
                {{ 
                    createForm.value.type === DebtType.BORROW ?
                    'Borrow' :
                    'Lend'
                }}
            </span>

            <span
                *ngIf="createForm.value.dueAt"
                class="bg-gray-100 text-gray-800 text-xs
                font-semibold mr-2 px-2.5 py-0.5 rounded
                dark:bg-gray-700 dark:text-gray-300
                transition duration-100">
                <i class="fa-solid fa-hourglass-start mr-1"></i>
                {{ createForm.value.dueAt | date:'dd/MM/yyyy' }}
            </span>
        </div>

        <div class="basis-4/12">
            <div class="flex items-center justify-center space-x-3">
                <div class="shrink-0">
                    <img
                        class="h-9 w-9"
                        src="assets/img/avatars/ninja-gray-500.png">
                </div>
                <div>
                    <p
                        class="text-sm font-medium text-ellipsis
                        text-gray-700 dark:text-gray-200">
                        Ahmad
                    </p>
                </div>
            </div>

            <div class="flex items-center justify-center my-2">
                <div>
                    <i
                        class="fa-solid fa-turn-up rotate-180 fa-lg
                        transition duration-100"
                        [ngClass]="{
                            'text-emerald-500': createForm.value.type === DebtType.LEND,
                            'text-gray-500': createForm.value.type === DebtType.BORROW
                        }"></i>
                    <i
                        class="fa-solid fa-turn-up fa-lg
                        transition duration-100"
                        [ngClass]="{
                            'text-emerald-500': createForm.value.type === DebtType.BORROW,
                            'text-gray-500': createForm.value.type === DebtType.LEND
                        }"></i>
                </div>
            </div>

            <div class="flex items-center justify-center space-x-3">
                <div class="shrink-0">
                    <img
                        class="h-9 w-9"
                        src="assets/img/avatars/astronaut-gray-500.png">
                </div>
                <div>
                    <p
                        class="text-sm font-medium text-ellipsis
                        text-gray-700 dark:text-gray-200">
                        {{ selectedHuman ? selectedHuman.name : 'Unknown' }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <form
        [formGroup]="createForm"
        class="p-6 max-w-full mx-auto bg-white dark:bg-gray-800 mb-4
        shadow-xl rounded-xl flex flex-col items-center space-x-0">
        <div class="mb-5 w-full">
            <label
                class="block mb-2 text-sm font-medium
                text-gray-900 dark:text-white">
                Entry type
                <span
                    [ngClass]="{
                        'text-red-600 dark:text-red-500':
                            createForm.controls['type'].errors &&
                            (createForm.controls['type'].dirty ||
                            createForm.controls['type'].touched)
                    }">*</span>
            </label>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
                <button
                    class="flex space-x-3 items-start border
                    rounded-lg shadow-md flex-row md:max-w-xl p-4 text-start
                    cursor-pointer bg-white border-gray-100 hover:bg-gray-100
                    focus:outline focus:outline-2 focus:outline-emerald-500
                    dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
                    dark:focus:outline-emerald-800 dark:focus:border-emerald-500
                    transition-colors duration-100"
                    [ngClass]="{
                        'dark:!border-emerald-500': createForm.value.type === DebtType.LEND
                    }"
                    (click)="onSelectType(DebtType.LEND)">
                    <div class="text-center items-start">
                        <i
                            class="fa-solid fa-circle-check transition-colors duration-100"
                            [ngClass]="{
                                'text-gray-700': createForm.value.type !== DebtType.LEND,
                                'text-emerald-500': createForm.value.type === DebtType.LEND
                            }"></i>
                    </div>
                    <div class="flex flex-col leading-normal">
                        <h5 class="mb-2 text-base font-bold tracking-tight text-gray-900 dark:text-white">
                            Lend
                        </h5>
                        <p class="text-sm font-normal text-gray-700 dark:text-gray-500">
                            You lend your money to someone
                        </p>
                    </div>
                </button>
    
                <button
                    class="flex space-x-3 items-start border
                    rounded-lg shadow-md flex-row md:max-w-xl p-4 text-start
                    cursor-pointer bg-white border-gray-100 hover:bg-gray-100
                    focus:outline focus:outline-2 focus:outline-emerald-500
                    dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700
                    dark:focus:outline-emerald-800 dark:focus:border-emerald-500
                    transition-colors duration-100"
                    [ngClass]="{
                        'dark:!border-emerald-500': createForm.value.type === DebtType.BORROW
                    }"
                    (click)="onSelectType(DebtType.BORROW)">
                    <div class="text-center items-start">
                        <i 
                            class="fa-solid fa-circle-check transition-colors duration-100"
                            [ngClass]="{
                                'text-gray-700': createForm.value.type !== DebtType.BORROW,
                                'text-emerald-500': createForm.value.type === DebtType.BORROW
                            }"></i>
                    </div>
                    <div class="flex flex-col leading-normal">
                        <h5 class="mb-2 text-base font-bold tracking-tight text-gray-900 dark:text-white">
                            Borrow
                        </h5>
                        <p class="text-sm font-normal text-gray-700 dark:text-gray-500">
                            You borrow money from someone
                        </p>
                    </div>
                </button>
            </div>
        </div>
        
        <div class="mb-5 w-full">
            <label
                class="block mb-2 text-sm font-medium
                text-gray-900 dark:text-white">
                How much?
                <span
                    [ngClass]="{
                        'text-red-600 dark:text-red-500':
                            createForm.controls['amount'].errors &&
                            (createForm.controls['amount'].dirty ||
                            createForm.controls['amount'].touched)
                    }">*</span>
            </label>
            <div
                class="flex group focus-within:outline
                rounded-lg border border-gray-300 bg-gray-200
                focus-within:outline-2 focus-within:!outline-emerald-500
                dark:bg-gray-700 dark:border-gray-600
                dark:focus-within:!outline-emerald-800
                dark:focus-within:!border-emerald-500
                transition-colors duration-100">
                <span
                    class="inline-flex items-center px-2.5
                    text-sm text-gray-900 bg-gray-200
                    rounded-l-lg border-none outline-none
                    dark:bg-gray-600 dark:text-gray-400">
                    RM
                </span>
                <input
                    type="number"
                    formControlName="amount"
                    class="block w-full p-2.5 rounded-lg rounded-l-none text-sm
                    border-none outline-none bg-gray-50 text-gray-900      
                    dark:bg-gray-700 dark:text-white
                    dark:placeholder-gray-400"
                    placeholder="Eg: 100.00">
            </div>

            <ng-template
                [ngIf]="createForm.controls['amount'].errors &&
                (createForm.controls['amount'].dirty ||
                createForm.controls['amount'].touched)">
                <ng-container *ngFor="let message of formMessages['amount']">
                    <ng-template
                        [ngIf]="createForm.controls['amount'].hasError(message.type) &&
                        (createForm.controls['amount'].dirty ||
                        createForm.controls['amount'].touched)">
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                            <span class="font-medium">Oops!</span>
                            {{ message.message }}
                        </p>
                    </ng-template>
                </ng-container>
            </ng-template>
        </div>

        <div class="mb-5 w-full">
            <label
                class="block mb-2 text-sm font-medium
                text-gray-900 dark:text-white">
                Who?
                <span
                    [ngClass]="{
                        'text-red-600 dark:text-red-500':
                            createForm.controls['human'].errors &&
                            (createForm.controls['human'].dirty ||
                            createForm.controls['human'].touched)
                    }">*</span>
            </label>
            <pkt-add-human
                (onSelect)="onSelectHuman($event)">
            </pkt-add-human>

            <ng-template
                [ngIf]="createForm.controls['human'].errors &&
                (createForm.controls['human'].dirty ||
                createForm.controls['human'].touched)">
                <ng-container *ngFor="let message of formMessages['human']">
                    <ng-template
                        [ngIf]="createForm.controls['human'].hasError(message.type) &&
                        (createForm.controls['human'].dirty ||
                        createForm.controls['human'].touched)">
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                            <span class="font-medium">Oops!</span>
                            {{ message.message }}
                        </p>
                    </ng-template>
                </ng-container>
            </ng-template>
        </div>

        <div class="mb-5 w-full">
            <pkt-mini-calendar-picker
                [isShowCalendar]="isShowCalendar"
                (onToggle)="toggleCalendar()"
                (onSelect)="onSelectDue($event)"
                [onReset]="onResetEvent">
            </pkt-mini-calendar-picker>

            <label
                class="block mb-2 text-sm font-medium
                text-gray-900 dark:text-white">
                Due at
            </label>

            <div
                class="flex group focus-within:outline
                rounded-lg border border-gray-300 bg-gray-200
                focus-within:outline-2 focus-within:!outline-emerald-500
                dark:bg-gray-700 dark:border-gray-600
                dark:focus-within:!outline-emerald-800
                dark:focus-within:!border-emerald-500
                transition-colors duration-100">
                <input
                    type="type"
                    class="block w-full p-2.5 rounded-lg rounded-r-none text-sm
                    border-none outline-none bg-gray-50 text-gray-900
                    dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white 
                    disabled:cursor-not-allowed"
                    readonly
                    value="{{ createForm.value['dueAt'] | date:'EEEE, d MMMM y' }}"
                    (click)="toggleCalendar()">
                <button
                    class="inline-flex items-center px-2.5
                    text-sm text-gray-900 bg-gray-200
                    border-none outline-none disabled:cursor-not-allowed
                    dark:bg-gray-700 dark:text-gray-400
                    dark:border-gray-600 dark:focus:text-emerald-500"
                    [disabled]="!createForm.value.dueAt"
                    (click)="onResetDue()">
                    <i class="fa-solid fa-circle-xmark"></i>
                </button> 

                <button
                    class="inline-flex items-center px-2.5
                    text-sm text-gray-900 bg-gray-200 rounded-lg
                    rounded-l-none border-none outline-none
                    dark:bg-gray-600 dark:text-gray-400
                    dark:focus:text-emerald-500"
                    (click)="toggleCalendar()">
                    <i class="fa-solid fa-calendar-day"></i>
                </button>  
            </div>
        </div>

        <div class="mb-5 w-full">
            <label
                class="block mb-2 text-sm font-medium
                text-gray-900 dark:text-white">
                Notes
                <span
                    [ngClass]="{
                        'text-red-600 dark:text-red-500':
                            createForm.controls['notes'].errors &&
                            (createForm.controls['notes'].dirty ||
                            createForm.controls['notes'].touched)
                    }">*</span>
            </label>
            <textarea
                formControlName="notes"
                class="block w-full p-2.5 rounded-lg text-sm
                border bg-gray-50 border-gray-300 text-gray-900
                focus:outline focus:outline-2 focus:outline-emerald-500
                dark:bg-gray-700 dark:border-gray-600 
                dark:placeholder-gray-400 dark:text-white
                dark:focus:outline-emerald-800
                dark:focus:border-emerald-500
                disabled:cursor-not-allowed
                transition-colors duration-100"
                placeholder="Eg: Roti canai"
                rows="2"></textarea>
            
            <ng-template
                [ngIf]="createForm.controls['notes'].errors &&
                (createForm.controls['notes'].dirty ||
                createForm.controls['notes'].touched)">
                <ng-container *ngFor="let message of formMessages['notes']">
                    <ng-template
                        [ngIf]="createForm.controls['notes'].hasError(message.type) &&
                        (createForm.controls['notes'].dirty ||
                        createForm.controls['notes'].touched)">
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                            <span class="font-medium">Oops!</span>
                            {{ message.message }}
                        </p>
                    </ng-template>
                </ng-container>
            </ng-template>
        </div>

        <div class="mb-0 w-full">
            <button
                type="button"
                class="py-3 px-5 rounded-lg text-base font-medium text-center
                w-full text-white bg-emerald-700 hover:bg-emerald-800
                focus:outline focus:outline-2 focus:outline-emerald-300
                dark:bg-emerald-600 dark:hover:bg-emerald-700 border
                focus:border-emerald-500
                dark:focus:border-emerald-500 dark:border-emerald-600 
                dark:focus:outline-emerald-800 disabled:cursor-not-allowed"
                [disabled]="isLoading"
                (click)="onSubmit()">
                <span>
                    <i
                        *ngIf="isLoading; else notLoading"
                        class="fa-solid fa-circle-notch fa-spin ms-auto">
                    </i>
                    <ng-template #notLoading>
                        Save
                    </ng-template>
                </span>
            </button>
        </div>
    </form>
</div>